body {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-body-bg); /* Dynamiczne tło */
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

::-webkit-scrollbar {
    display: none;
}


.deck {
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-card-border);
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.deck:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--bs-card-bg); /* Dynamiczne tło karuzeli */
}

/* Slider do dark mode */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    padding: 2px, 0;
    margin-right: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bs-gray-700);
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--bs-gray-100);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--bs-card-bg);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body[data-bs-theme="light"] {
    --bs-secondary: #f8f9fa;
    --bs-navbar-bg: #ffffff;
    --bs-font-color: #212529;
    --bs-body-bg: #ffffff;
    --text-color: black
}

body[data-bs-theme="dark"] {
    --bs-secondary: #3a3f44; /* Mniej czarny odcień */
    --bs-navbar-bg: #2b2f33; /* Mniej czarny odcień */
    --bs-font-color: #f8f9fa; /* Jasny */
    --bs-body-bg: #464646; /* Mniej czarny odcień */
    --bs-card-bg: #2b2f33; /* Tło kart w trybie ciemnym */
    --bs-card-border: #444; /* Ramka kart w trybie ciemnym */
    --bs-table-bg: #0767c7; /* Tło tabeli w trybie ciemnym */
    --bs-table-border: #444; /* Ramka tabeli w trybie ciemnym */
    --text-color: white;
}

.navbar {
    background-color: #edb926 !important;
    padding: 1rem;
}

.text {
    color: var(--text-color); /* Kolor tekstu zależny od motywu */
    transition: color 0.3s ease; /* Płynna zmiana koloru */
}

.btn {
    border-radius: 5px;
    font-weight: 600;
}

.js-added-card{
    background-color: var(--bs-body-bg)!important;
}

.btn-edit{
    background-color: #edb926 ;
}

.top-card{
    background-color: var(--bs-body-bg)!important;
}

.table {
    background-color: var(--bs-table-bg) !important;
    border: 1px solid var(--bs-table-border);
    border-radius: 8px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px;
    text-align: center;
}

.card {
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.flash-container .alert {
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
}

/* Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1050; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding-top: 50px;
}


.modal-content {
    background-color: var(--bs-body-bg); 
    margin: auto;
    padding: 20px;
    border: 1px solid var(--bs-card-border); 
    border-radius: 8px;
    width: 80%; 
    max-width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal Body */
.modal-body {
    font-size: 1rem;
    color: var(--bs-font-color); /* Dynamic text color */
    margin-bottom: 20px;
}


/* Buttons */
.modal.btn {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
}

.modal .cancelbtn {
    background-color: var(--bs-secondary-bg); /* Dynamic background */
    color: var(--bs-font-color); /* Dynamic text color */
}

.modal .cancelbtn:hover {
    background-color: var(--bs-secondary); /* Highlight on hover */
}

.modal .deletebtn {
    background-color: var(--bs-danger); /* Dynamic background */
    color: var(--bs-light); /* Dynamic text color */
}

.modal .deletebtn:hover {
    background-color: #c82333; /* Darker red on hover */
}